.todos {
    display: inline-block;
    min-width: 400px;
    margin: 10px;
    padding: 15px;
    background-color: #a0d3eb;
    border-radius: 10px;
}

.todo {
    background-color: rgba(255, 255, 255, 0.45);
    margin-bottom: 10px;
    padding: 5px;
    color: #316e8a;
    display: flex;
}

.todo div {
    flex: 1;
}

.todo button {
    background: none;
    border: none;
    color: red;
}

.input {
    display: flex;
    border-radius: 5px;
}

.input input {
    flex: 1;
    padding: 6px;
    border: none;
    border-radius: 5px;
}

.input button {
    margin-left: 5px;
    min-width: 75px;
    background-color: #316e8a;
    border: none;
    border-radius: 5px;
    color: white;
}